/* eksami mängu piltide suurus */
.content img{
	height: 150px;
}

/* lehe pooleks jagamine piisavalt suure ekraani puhul */
@media only screen and (max-width:1800px){
	.left .sub_logo{
		display: none;
	}
}
@media only screen and (min-width:1801px){
    .split{
		display: flex;
	}
	.left, .right{
		flex: 50%;
		vertical-align: text-top;
	}
	.right{
		text-align: center;
	}
	.right .sub_logo{
		display: none;
	}
}
@media only screen and (max-width:800px){
    .right{
        display: none;
    }
}