.makse, .aasta{
	float: right;
	display: inline-block;
	width: 45%;
}
.tellija, .kuu{
	float: left;
	display: inline-block;
	width: 45%;
}
.aasta, .kuu{
	margin-bottom: 20px;
}
.nupp input{
	width: 100%
}
.container{
	width: 100%;
	color: white; 
}
input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px 0px 12px 0px;
	border: 1px solid white;
	border-radius: 3px;
}
label {
	margin-bottom: 10px;
	display: block;
}
.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	background-color: white;
	width: auto;
	border-radius: 3px;

}
.icon-container img{
	height: 40px;
	width: 60px;
    object-fit: contain;
	position: relative;
}
.btn {
	background-color:#ff1d74;
	color: white;
	padding: 12px;
	margin: 10px 0;
	margin-bottom: 60px;
	border: none;
	width: 80%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}
.btn:hover {
	background-color: #6d46c7;
}
.custom.select{
	position: relative;
	border-radius: 3px;
	width: 800px;	
}

input::-webkit-input-placeholder { /* WebKit browsers */
	padding: 12px;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	padding: 12px;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
	padding: 12px;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
	padding: 12px;
  }
	
