/*mid banneri asukoht*/
.mid-banner img{
	object-position: 40% 60%;
}

/* hinnatabel */
table, th, td {
	border-collapse: collapse;
	border: 1px solid white;
	padding: 5px;
}

.content a{
	color: #ff1d74;
}