/* hinnatabel */
table, th, td {
	border-collapse: collapse;
	border: 1px solid white;
	padding: 5px;
}
.mid-banner img{
	width: 100%;
	height: 100px;
    object-fit: cover;
	object-position: 40% 60%;
	position: relative;
}
.img_txt{
	position: absolute;
	text-align: center;
	left: 10%;
	right: 90%;
	padding-top: 20px;
	color: white;
    font-size: 35pt;
    font-weight: 700;
	text-align: center;
	z-index: 1;
}